body {

    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    margin: 0;
    padding: 0;
   
}
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.top-line {
    border-bottom: 1px solid #e7e9fc;
    color: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

    max-width: 320px;
    min-width: 320px;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .top-line {border-bottom: 1px solid #e7e9fc;
    color: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

    max-width: 768px;
    }}
@media (min-width: 1158px){
    .top-line{
        min-width: 1158px;

}}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
        @media (min-width: 768px) and (max-width: 1157px) {
            .container {
            min-width: 320px;
            max-width: 736px;
                padding-left: 16px;
                padding-right: 16px;
                margin: 0 auto;
            }
        }
@media (min-width: 768px) and (max-width: 1157px) {
.img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
@media (min-width: 1158px) {
    .container {
            max-width: 1158px;
            margin: 0 auto;
            padding: 0 15px;
}}

.top-line .container {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;    
}
@media (min-width: 768px) and (max-width: 1157px) {
    .top-line .container {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        gap: 40px;
    }
}
@media (min-width: 1158px) {
.top-line .container {
        display: flex;
        justify-content: space-between;}
}
.navbar {
    display: flex;
    align-items: center;
    
}
@media (min-width: 768px) and (max-width: 1157px) {.navbar {
        display: flex;
        align-items: center;
        gap: 40px;

    }
}
@media (min-width: 1158px) {
    .navbar {
            display: flex;
            align-items: center;
        }
}
.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1157px) {
    .current {
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
@media (min-width: 1158px) {
.current {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
     margin-top: 18px;
}
@media (min-width: 768px) and (max-width: 1157px) {.logo {
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 18px;
    }}
.current:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
@media (min-width: 1158px) {.current:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }}

.brand-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;

}
@media (min-width: 768px) and (max-width: 1157px){.brand-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;

}
}
.navbar-container li:first-child a:hover,
.navbar-container li:first-child a:focus {
    color: #404bbf;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1157px) {
    .navbar-container li:first-child a:hover,
        .navbar-container li:first-child a:focus {
            color: #404bbf;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.navbar-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding-left: 0; 
}

 @media (min-width: 768px) and (max-width: 1157px) {
    .navbar-container {
            display: flex;
            justify-content: space-between;
            
            gap: 40px;
            list-style-type: none;
            position: relative;
            margin: 0;
            padding-left: 0;
     }
 }
.menu-nav {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(46, 47, 66, 1);
    text-decoration: none;
    display: block;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .menu-nav {
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: rgba(46, 47, 66, 1);
            text-decoration: none;
            display: block;
        }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
@media (min-width: 768px) and (max-width: 1157px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
}
.contact-info {
    display: none;
    font-style: normal;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .contact-info {
    display: flex;
    align-items: center;
        }
}
.contact-list {
    display: flex;
    list-style-type: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    padding-left: 0;
}
@media (min-width: 768px) and (max-width: 1157px) {.contact-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    padding-left: 0;
}
}
.contact-list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .contact-list a {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #434455;
        }
}
@media (min-width: 1158px) {
    .contact-list {
        display: flex;
        gap: 40px;
        list-style-type: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0;
        padding-left: 0;
    }
}
@media (min-width: 1158px) {.contact-list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}}
.contact-link:focus,
.contact-link:hover {
    color: #404bbf;
}
@media (min-width: 768px) and (max-width: 1157px) {
.contact-link:focus,
    .contact-link:hover {
        color: #404bbf;
    }
}
.contact-link:first-child {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1157px) {
    .contact-link:first-child {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.button-menu {
    position: absolute;
    top: 16px;
    left: 283px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) and (max-width: 1157px) {
    .button-menu {
        display: none;
    }
}
.main-page {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    min-width: 320px;
    max-width: 320px;  
}
@media (min-width: 768px) and (max-width: 1157px) {
    .main-page {
        background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg-wight.jpg);
        min-width: 320px;
        max-width: 768px;
        }
}
@media (min-width: 1158px){.main-page {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-compresst.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}}
.main-page .container {
    display: flex;
    flex-flow: column;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .main-page .container {
        display: flex;
        flex-flow: column;
        }
}
@media (min-width: 1158px) {
    .main-page .container {
            display: flex;
            flex-flow: column;
        }}

.main-page-title {
    max-width: 216px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
       
}  

@media (min-width: 768px) and (max-width: 1157px) {
    .main-page-title {
        max-width: 496px;
        min-width: 216px;
            font-weight: 700;
            color: #ffffff;
            margin-top: 0;
            margin-bottom: 72px;
            text-align: center;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: 0.02em;}
        }
@media (min-width: 1158px) {.main-page-title {
    max-width: 496px;
    line-height: 1.07;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;
}}
.order-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    min-width: 169px;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1157px) {
    .order-button {
            background-color: #4d5ae5;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            min-width: 169px;
            max-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
@media (min-width: 1158px){
    .order-button {
            background-color: #4d5ae5;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            min-width: 169px;
            max-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .order-button:hover,
        .order-button:focus {
            background-color: #404bbf;
        }
}
.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .navbar-brand {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        }
}
@media (min-width: 1158px){
    .navbar-brand {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
        }
}
.facts {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 320px;
    min-width: 320px;
}  
@media (min-width: 768px) and (max-width: 1157px) {
    .facts {
        min-width: 320px;
        max-width: 768px;
        }
}
@media (min-width: 1158px){
    .facts {
            padding-top: 120px;
            padding-bottom: 120px;
        }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.facts-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .facts-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1158px) {
    .facts {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.box-list {
    list-style: none;
        margin-bottom: 72px;
}
@media (min-width: 768px) and (max-width: 1157px) {
.box-list {
        list-style: none;
        margin-bottom: 72px;
        flex-basis: calc((100% - 24px) / 2);   
    }
}
@media (min-width: 1158px) {.box-list {
    list-style: none;
        width: calc((100% - 3 * 24px) / 4);}}

.box-list:last-child {
    margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .box-list:last-child {
        margin-bottom: 0;
        }
}
.box-list-icon-container {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    pointer-events: none;
}
@media (min-width: 1158px) {
    .box-list-icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
        }
}
.antenne {
    fill: #2a2a2a;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .antenne {
            fill: #2a2a2a;
        }
}

.team-person li:last-child {
    margin-right: 0;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .team-person li:last-child {
            margin-right: 0;
        }
    }
.text-title {
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;     
}
@media (min-width: 768px) and (max-width: 1157px) {
    .text-title {
            margin-bottom: 8px;
            letter-spacing: 0.02em;
            color: #2e2f42;
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-align: left; }
    }

.text-title-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;  
}
@media (min-width: 320px) and (max-width: 767px) {
    .text-title-desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }
/* OUR Team */
.our-team-section {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #f4f4fd;
    max-width: 320px;
    display: flex; 
}
@media (min-width: 768px) and (max-width: 1157px) {
    .our-team-section {
            padding-top: 96px;
            padding-bottom: 96px;
            background: #f4f4fd;
            max-width: 768px;
            display: flex;
        }}
                @media (min-width: 1158px){
                    .our-team-section {
                    padding-top: 120px;
                    padding-bottom: 120px;
                    background: #f4f4fd;
                        }
                }
                @media (min-width:1158px) {
                    .our-team-section .container {
                            display: flex;
                            flex-flow: column;
                        }
                }
.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .mobile {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;     
        }}
  @media (min-width:1158px) {
      .mobile {
          display: flex;
          flex-flow: column;
      }
  }
.team-title {
    margin: 0;
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
   
    margin-bottom: 72px;
    text-transform: capitalize;
    color: #2e2f42;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .team-title {

            margin: 0;
            display: flex;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 72px;
            text-transform: capitalize;
            color: #2e2f42;
        }
}
.team-person {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .team-person {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            margin: 0;
            padding-left: 0;
            justify-content: center;
        }
}
.list-person {
    justify-content: center;
    margin-bottom: 72px;;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
@media (min-width: 768px) and (max-width: 1157px) {
    .list-person {
        margin-bottom: 0;
        max-width: 264px;
            justify-content: center;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
        }
}
.team-person li:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .team-person li:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
}
.list-person {
    list-style-type: none;
    background-color: #ffffff;
}
@media (min-width: 768px) and (max-width: 11578px) {
    .list-person {
            list-style-type: none;
            background-color: #ffffff;
            } 
    }
.list-icon-team-social:first-child .link-team-social {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1157px) {
    .list-icon-team-social:first-child .link-team-social {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.team-person .list-person:first-child {
    border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .team-person .list-person:first-child {
            border-radius: 0px 0px 4px 4px;
        }
}
.work-position {
    padding-top: 32px;
    padding-bottom: 32px;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .work-position {
            padding-top: 32px;
            padding-bottom: 32px;
        }
}
.name-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .name-title {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
            color: #2e2f42;
        }
}
.team-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .team-desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 8px;
        }
}
.list-person-social {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .list-person-social {
            display: flex;
            justify-content: center;
            gap: 24px;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
        }
}

.list-icon-team-social {
    width: 40px;
    height: 40px;
    margin-left: 6px;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .list-icon-team-social {
            width: 40px;
            height: 40px;
            margin-left: 6px;
        }
}
.link-team-social {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .link-team-social {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
}
.link-team-social:focus,
.link-team-social:hover {
    background-color: #404bbf;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .link-team-social:focus,
        .link-team-social:hover {
            background-color: #404bbf;
        }
}
.team-icon-social {
    fill: #f4f4fd;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .team-icon-social {
            fill: #f4f4fd;
        }
}
.link-team-social {
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1157px) {
    .link-team-social {
            background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
/* Our Portfolio */
.our-portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-portfolio-section .container {
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 320px;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .our-portfolio-section .container{
       
}
}
.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
   text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
@media (min-width: 768px) and (max-width: 1157px) {
        .portfolio-header {
        font-size: 36px;
        line-height: 1.11;
        font-weight: 700;
        letter-spacing: 0.02em;
        margin-left: auto;
        margin-right: auto;
        color: #2e2f42;
        margin-bottom: 72px;
 }
}
@media (min-width: 768px) and (max-width: 1157px) {
        .our-portfolio-section .container {
        margin: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 768px;
    }
}
@media (min-width: 768px) and (max-width: 1157px) {
    .wrapper-cards {
      
        
    }}
.wrapper-cards {
    max-width: 288px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding-left: 0;
  
}
@media (min-width: 768px) and (max-width: 1157px) {
    .wrapper-cards {
        max-width: 768px;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            list-style-type: none;
            column-gap: 24px;
            row-gap: 48px;
            margin: 0;
            padding-left: 0;
            max-width: 736px;
        }
}
.wrapper-cards li:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .wrapper-cards li:last-child {
        margin-right: 0;
        margin-bottom: 0;}}

.card-img {
    max-width: 288px;
    max-height: 280px;
}
@media (min-width: 768px) and (max-width: 1157px) {.card-img {
    max-width: 356px;
    max-height: 300px;
}
     }
.portfolio-title-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
@media (min-width: 768px) and (max-width: 1157px) {
        .portfolio-title-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
}
.name-application {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .name-application {
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
        }
}
.desc-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media (min-width: 768px) and (max-width: 1157px) {
        .desc-portfolio {
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
            }
}
.desc-portfolio:hover {
    transform: translateY(0%);
}
@media (min-width: 768px) and (max-width: 1157px) {
        .desc-portfolio:hover {
                transform: translateY(0%);
            }
}
.portfolio-card {
    
    overflow: hidden;
   
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1157px) {
    .portfolio-card {
            
            overflow: hidden;
    
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.container-portfolio-style {

    overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1157px) { 
    .container-portfolio-style {
        flex-basis: calc((100% - 24px) / 2);
        align-items: center;
    }
    
}
.text-portfolio-style {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    pointer-events: none;
}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
                                    /* Footer */
.footer  {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #2e2f42;
    max-width: 320px; 
}
@media (min-width: 768px) and (max-width: 1157px) {
    .footer {max-width: 768px;

    }}
.container-footer {
    display: flex;
    flex-direction: column;  
    margin-bottom: 72px;   
}
@media (min-width: 768px) and (max-width: 1157px) {
    .container-footer { display: block;
        text-align: left;
}
}

@media (min-width: 768px) and (max-width: 1157px) {
.footer .container { display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 72px;
}
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.brand-footer {
    color: #f4f4fd;
}

.footer-disc {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 0;
    
    
}
@media (min-width: 768px) and (max-width: 1157px) {
    
}
.social-titel-footer {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 1157px) {
    .social-titel-footer {
    text-align: left;
}
}
.social-box-icon {
    margin-top: 0;
    display: flex;
    justify-content: center;
    
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
   
}

.social-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list-style {
    width: 40px;
    height: 40px;
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.icon-social {
    fill: #f4f4fd;
}

.social-list-style:first-child a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .social-box{
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 72px;

 }
 @media (min-width: 768px) and (max-width: 1157px) {.social-box {
        margin: 0;
        margin-top: 15px;
        margin-left: 45px;
        
        }
    }

.subscribe-container-desc {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: block;
    text-align: center;
   
}
@media (min-width: 768px) and (max-width: 1157px) {
    .subscribe-container-desc {
        text-align: left;
    }
}
.subscribe-container-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.server-subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.botton-subscribe-footer {
    margin-left: 16px;
}
                                    /* Modal*/
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-opens {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    width: 288px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    gap: 0px;
    
}

.button-cross-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cross-modal:hover {
    background-color: #404bbf;
    border: none;

}

.button-cross-modal:hover .button-icon-modal {
    fill: #ffffff;
}

.button-cross-modal:focus {
    background-color: #404bbf;
    border: none;

}

.button-cross-modal:focus .button-icon-modal {
    fill: #fff;
}

.button-icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-container-modal {
    margin-bottom: 8px;
}

.name-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.container-icon-input {
    position: relative;
    margin: 0;
    padding: 0;
}

.input-label-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label-modal:focus {
    border-color: #4d5ae5;
}

.input-label-modal:focus+.input-icon-modal {
    fill: #4d5ae5;
}

.input-icon-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-form {
    margin-bottom: 16px;
}

.comment-area-modal {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area-modal:focus {
    border-color: #4d5ae5;
}

.checkbox-modal {
    margin-bottom: 24px;
}

.name-label-privacy {
    font-size: 12px;
    line-height: 1.17;
    color: #8e8f99;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
}

.privacy-title {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    
    flex-shrink: none;
}

.privacy-link {
    color: #4d5ae5;
    margin-left: 6px;
}

.button-last-modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-inp:checked+.name-label-privacy span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

                                            /* Mobile-Menu*/



.mobil-menu-is-open {
    opacity: 1;
    pointer-events: auto;
}

.mobil-menu {
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    gap: 0px;
    display: none;


}
.container-page {
    margin-top: 0;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.container-page {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 168px;
}   
.navbar-page {
   
}
.mobile-menu-list-page {
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
}
.navbar-menu-page {
    margin-top: 40px;

}
.navbar-menu-page:first-child{
    margin-top: 0;
}
.menu-nav-page {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        color: rgba(46, 47, 66, 1);
}
.contact-info-page {
   
    
}
.contact-list-page{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 48px;
    
}
.contact-list-page > * + * {
    margin-top: 24px;
}
.contact-link-page {
    list-style-type: none;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none; 
        color: #434455;
}
.button-cross-page {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cross-page:hover {
    background-color: #404bbf;
    border: none;

}

.button-cross-page:hover .button-icon-modal {
    fill: #ffffff;
}

.button-cross-page:focus {
    background-color: #404bbf;
    border: none;

}

.button-cross-page:focus .button-icon-modal {
    fill: #fff;
}

.button-icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}