body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #434455;
    background-color: #FFFFFF; 
}
/* Для первого элемента списка */
.navbar-container li:first-child a:hover {
    color: #404bbf;
    /* Цвет при наведении */
}

.navbar-container li:first-child a:focus {
    color: #404bbf;
    /* Цвет при фокусе */
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;   
}
.navbar-container li  {
    margin-left: 40px;
}
.top-line {
    width: 100%;
    height: 72px;
    color: #fff;
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.navbar {
    padding-left: 156px;
    display: flex;
    justify-content: space-between;
        align-items: center;

}   
.navbar-menu li {
    display: inline;
}
.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: left;
    color: rgba(77, 90, 229, 1);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.brand-logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(46, 47, 66, 1);
    text-transform: uppercase;
    text-decoration: none;
}

.menu-nav {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(46, 47, 66, 1);
    text-decoration: none;
}

.contact-info {
    font-style: normal;
    margin-right: 156px;
}

.contact-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.contact-list a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    margin-left: 40px;
}

.contact-link:focus,
.contact-link:hover {
    color: #404bbf;
}


.main-page {
    background: #2e2f42;
    width: 100%;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-top: auto;
    margin-bottom: auto;
}   
.wrapper-main-page {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 496px;
    padding-top: 0;
}
.text-container {
    text-align: center;
}
.main-page-title {
    line-height: 1.07;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
     color: #fff;
     margin-bottom: 48px;
}
.order-button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 32px;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 0;
}
.order-button:hover {
background-color: #404BBF;
}
.order-button:focus {
background-color: #404BBF;
}
.navbar-brand {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;  
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}
.brand {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
        font-size: 18px;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}
.facts{
         padding-top: 120px;
         padding-bottom: 120px;
}
.wrapper-facts {
margin-left: auto;
margin-right: auto;
max-width: 1200px;
}
.box-list {
max-width: 264px;
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
}
.facts-menu {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.text-title {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
.text-title-desc{
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-align: left;
} 
.our-team-section {
        padding-top: 120px;
        padding-bottom: 120px;
}
.team-container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    margin-top: 0;
}
.team-title {
                font-family: Roboto;
                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.02em;
                text-align: center;
}
.wrapper-our-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1140px;
}
.team-person {
    max-width: 264px;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 8px;
}
.our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    background: rgba(244, 244, 253, 1);
    width: 100%; 
}
.team-desc {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        margin-top: 0;       
}
.name-title {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;   
}
.photo-team {
         margin-bottom: 32px;
            
}
.our-portfolio-title {
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 72px;
            margin-top: 0;
}
.our-portfolio-section {
   padding-top: 120px;
   padding-bottom: 120px;

 }
.container-portfolio {
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}
.portfolio-header {
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-align: center;
}
.portfolio-card {
    max-width: 360px;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 48px;
 }
.card-img {
    margin-bottom: 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.portfolio-card p {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        margin: 0;
}
.wrapper-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-title-item {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0;
    margin-bottom: 13px;

}
.portfolio-desc-item {
         font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}
.footer {
    height: 312px;
        width: 100%;
        background: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
 }
.footer-disc {
            color: #fff;
            height: 72px;
            top: 3128px;
            left: 156px;
            gap: 0px;
            opacity: 0px;
 }
 .footer-brand {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none; 
}
.logo-footer {
    color: #f4f4fd  
}
 .brand-footer-container a {
   text-decoration: none;  
    font-family: "Raleway", sans-serif
 }
 .container {
    width: 1440px ;
    margin-left: auto;
    margin-right: auto;
 }
 .footer-text {
    width: 264px;
}
.footer-disc p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}