body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #434455;
    background-color: #FFFFFF;
    width: 100%;
}
.navbar-container li:first-child a:hover,
.navbar-container li:first-child a:focus {
    color: #404bbf;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar-container li {
    margin-left: 40px;
}

.top-line {
    height: 72px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding-left: 22px;
    display: flex;
    align-items: center;
}
.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: left;
    color: rgba(77, 90, 229, 1);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.brand-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: rgba(46, 47, 66, 1);
}

.menu-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(46, 47, 66, 1);
    text-decoration: none;
}

.contact-info {
    font-style: normal;
    margin-right: 156px;
}

.contact-list {
     display: flex;
}

.contact-list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    margin-left: 40px;
}

.contact-link:focus,
.contact-link:hover {
    color: #404bbf;
}

.main-page {
    background: #2e2f42;
    text-align: center;
}

.main-page-title {
    max-width: 496px;
    line-height: 1.07;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 188px;
 

}

.order-button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 188px;
}

.order-button:hover {
    background-color: #404BBF;
}

.order-button:focus {
    background-color: #404BBF;
}

.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;  
}
.facts {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1128px;
}

.box-list {
    max-width: 264px;
    list-style: none;
}

.facts-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-title-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* OUR Team */
.our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-person {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;

}

.list-person {
    max-width: 264px;
    box-sizing: border-box;
    border-radius: 8px;
    list-style-type: none;
    text-align: center;
    background-color: #FFFFFF;
}

.name-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our Portfolio */
.our-portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.wrapper-cards {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-title-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: #2e2f42;
}

.desc-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.portfolio-card {
    width: calc((100% / 3) - (24px * 2) / 3);
    margin-bottom: 48px;
}

.footer {
    height: 312px;
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 156px;
}

.brand-footer {
    color: #f4f4fd;
}

.footer-disc {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin-left: 156px;
    max-width: 264px;
}